{% extends 'layout.html' %}
{% block content %}
<div class="mt-4 container" id="empuje">
    
    <h1 class="article-title">Nueva contraseña</h2>
    <form action="" method="post">
        {% if form.errors %}
            {{form.errors}}
        {% endif %}
        {% csrf_token %}
        <div class="dato-text">{{form.as_p}}</div>
        <input type="submit" class=" btn register-btn text-register" value="Enviar"/>
        <a class="mx-auto  btn register-btn text-register"href="javascript: history.go(-1)" style="border-radius: 10px;">Volver</a>
    </form>
</div>

<script type="application/javascript">
            $(function () {
                $('form').on('submit', function (e) {
                    e.preventDefault();
                    var parameters = new FormData(this);
                    submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de resetear tu contraseña?', parameters, function () {
                        Swal.fire({
                            title: 'Notificación',
                            text: 'Se ha enviado un correo electrónico con los pasos a seguir para que pueda resetear su contraseña',
                            icon: 'success',
                            timer: 5000,
                            onClose: () => {
                                location.href = '/';
                            }
                        }).then((result) => {

                        });
                    });
                });
            });
</script>
<script type="application/javascript">
            {% if form.errors %}
                var errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{ error }}\n';
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error'
                });
            {% endif %}
        </script>
{% endblock content %}
