/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*Paleta de colores*/
/*
naranja pastel:     #b47545
Rosado:             #e7d0ca
Verde:              #767965
Rojo pastel:        #a45350
Rosadito Clarito:   #FFF4F1
*/
/*Contenedor que muestra las imagenes*/
/* #mello{
    display: block!important;
} */
/*Esto posiciona el footer siempre debajo*/
#empuje{
    min-height: calc(100vh - 202px);
}


@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)){
.blur-article{
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
}
.imgs-container,  .article-info-container{
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.055);
            box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.055);
    background-color: white;
}
.imgs-container{
    width: 70%; 
    
    
}

.article-info-container{
    width:30%;
    
}

.article-info-container > div{
    height: 100%;
    
}
/*imagen principal*/
.main-img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: rgba(128, 128, 128, 0.11) solid;
    width: 100%;
    height: 600px;
    position: relative;
   
}
    .main-img > div > img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
}

.imgs-small-container img{
    width: 7em;
    height: 7em;
    margin: 10px;
    border-radius: 3px;
    border: rgba(128, 128, 128, 0.11) solid;
    cursor: pointer;
}

/*Informacion del articulo*/

.article-title{
    font-size: 1.5vw;
    color: #444;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.article-info{
    font-size: 1vw;
    color: #686868;;
    font-family: 'Open Sans', sans-serif;
}

.article-info2{
    font-family: 'Open sans', sans-serif;
    color: #686868;
}

.whats-button{
    
    font-family: 'Pattaya', sans-serif;
    font-size: 2vw;
}

a[type='button'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 
  }

.like-form{
    float:right;
}

@media screen and (max-width: 1024px){
    /*footer responsive*/
    .imgs-container, .article-info-container{
        width:100%;
        -webkit-box-shadow: 0px 0px 0px rgba(197, 189, 189, 0);
                box-shadow: 0px 0px 0px rgba(197, 189, 189, 0);
    }

    .imgs-container{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .article-info-container{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin-bottom: 10px;
    }
    .main-img{
        width: 100%;
        max-height: 500px;
    }

    .article-container{
        margin-top: 10px;
    }
    
    .article-title{
        font-size: 30px;
    }

    .article-info{
        font-size: 20px
    }

    .whats-button{
        font-size: 45px;
    }

    .article-info-container > div{
        height: auto;   
    }
}
