/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*Paleta de colores*/
/*
naranja pastel:     #b47545
Rosado:             #e7d0ca
Verde:              #767965
Rojo pastel:        #a45350
Rosadito Clarito:   #FFF4F1
*/
/*parametros iniciales*/
/*Empuje*/
#empuje{
    min-height: calc(100vh - 185px);
}
/*Contenedor del login*/
.login-container{
    width: 30%;
    padding: 50px 50px 50px 50px;
    text-align: center;
    
}

.separator-line{
    margin: 0px 20px 0px 20px;
    border: solid 0.5px; 
    border-color: #b47545; 
    height: 900px; 
    -ms-flex-item-align: center; 
        -ms-grid-row-align: center; 
        align-self: center;
}

/*Contenedor del register*/
.register{
    width:100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


/*Register text*/
.text-register{
    color: #a45350;
    font-family: 'Oswald', sans-serif;
    margin: 5px 0px 5px 0px;
}

label.text-register{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding-left: 15px;
    text-align: left;
}

/*Contenerdor del formulario*/
.register-container{
    width: 30%;
    padding: 50px 50px 50px 50px;
    text-align: center;
}

/*Botones del registro*/
.register-btn{
    color: white;
    background-color: #a45350;
    font-size: 20px;
    margin-bottom: 16px;
}
.register-btn:hover{
    color: white;
    background-color: #767965;
}

.alternative-text{
    margin-top: 20px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.login-btn{
    margin-top: 16px;
}

/*Inputs*/
input, button, select {
    border-radius: 10px!important;
} 

/*Login Container*/

    @media screen and (max-width: 1024px){
        .register-container, .login-container{
        width:100%;
        height:100%;
        z-index: 2;
        }

        .register{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

        .separator-line{
            width:50%;
            height:1px;
        }

        #frog-login{
            display: none;
        }
        
    }
/*imagen del sapo*/
#frog-login{
    height: 500px;
    width: auto;
    position: absolute;
    -ms-flex-item-align: end;
        align-self: flex-end;
    left: -170px;
    

}

.Error{
    color: red;
    -webkit-box-shadow: 0px 0px 4px black;
            box-shadow: 0px 0px 4px black;
}

.swal-modal{
    background-color: #FFF4F1;
}
.swal-title {
    color: #a45350;
    font-family: 'Oswald', sans-serif;
}

.swal-text{
    color: #bba4a3;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}

.swal-button{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color:#fffaf9;
    color: #a45350;
    border-color: #dfd0cf;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.swal-button:hover{
background-color: #dfd0cf!important;
border-color: #dfd0cf!important; 
color: #a45350;
}
